*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(117, 207, 235);
}
.container{
    width: 400px;
    height: min-content;
    padding:30px;
    border-radius: 25px;
    background-color: white;
}
.search{
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#input{
    font-size: 20px;
    background-color: rgb(231, 244, 248);
    border-radius: 20px;
    width: 83%;
    padding: 15px;
}
#input::placeholder{
    color: black;
}
.search button{
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(231, 244, 248);
    cursor: pointer;
}
.search button:hover{
    background-color: rgba(0, 183, 255, 0.6);
    color: white;
}
.weather-body{
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.weather-img{
    width:200px;
}
.weather-box{
    margin: 30px;
    text-align: center;
}
.temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.desc{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.weather-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity , .wind{
    display: flex;

}
.humidity{
    margin-left: 10px;
}
.wind{
    margin-right: 10px;
}
.weather-details i{
    font-size: 36px;
}
.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}
.text span{
    font-size: 23px;
    font-weight: 700;
}
.not-found{
    margin-top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.not-found img{
    width: 300px;
}
.not-found h1{
    font-size: 20px;
    color: rgb(198, 191, 191);
    margin-bottom: 10px;
}